trunk/DrawAndWorkout.UML/schemas/DataModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
== Generated by hyperModel (www.XMLmodeling.com) Sun Mar 06 10:30:47 GMT+08:00 2011
== Model: DataModel
== Package: DataModel
-->
<xsd:schema
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:ms="http://microsoft.com/wsdl/types/"
	attributeFormDefault="unqualified"
	elementFormDefault="qualified">
  <xsd:import namespace="http://microsoft.com/wsdl/types/" schemaLocation="types.xsd"/>
  <!-- ================================================== -->
  <!-- =====  Simple Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  NumberingFormat  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="NumberingFormat">
    <xsd:annotation>
      <xsd:documentation>
        Numbering format for labeling in drawing.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Digit">
        <xsd:annotation>
          <xsd:documentation>
            1, 2, 3, 4...
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Roman">
        <xsd:annotation>
          <xsd:documentation>
            I, II, III, IV, ...
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Alphabet">
        <xsd:annotation>
          <xsd:documentation>
            A, B, C, D, ...
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Chinese">
        <xsd:annotation>
          <xsd:documentation>
            甲, 乙, 丙, 丁, ...
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  UserRole  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="UserRole">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Admin">
        <xsd:annotation>
          <xsd:documentation>
            Super user to this application.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Planner">
        <xsd:annotation>
          <xsd:documentation>
            A user who draft the plan and measurement.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Employee"/>
      <xsd:enumeration value="Customer"/>
      <xsd:enumeration value="Supplier"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ProjectStage  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="ProjectStage">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Draft"/>
      <xsd:enumeration value="Quotation"/>
      <xsd:enumeration value="Manufacture"/>
      <xsd:enumeration value="Delivered"/>
      <xsd:enumeration value="Invoice"/>
      <xsd:enumeration value="Paid"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  WorkStatus  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="WorkStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="NotStarted"/>
      <xsd:enumeration value="InProgress"/>
      <xsd:enumeration value="Completed"/>
      <xsd:enumeration value="Rework"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Unit  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:simpleType name="Unit">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Cm"/>
      <xsd:enumeration value="Inch"/>
      <xsd:enumeration value="Meter"/>
      <xsd:enumeration value="Feet"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  BaseAttribute  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="BaseAttribute">
    <xsd:sequence>
      <xsd:element name="Guid" type="ms:guid"/>
      <!-- <xsd:element name="creator" type="Employee"/> -->
      <!-- <xsd:element name="date" type="xsd:dateTime"/> -->
      <xsd:element name="Notes" type="xsd:string"/>
      <xsd:element name="Tags" type="Object" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  BaseElement  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="BaseElement">
    <xsd:sequence>
      <xsd:element name="Code" type="xsd:string"/>
      <xsd:element name="Name1" type="xsd:string"/>
      <xsd:element name="Name2" type="xsd:string"/>
      <xsd:element name="Notes" type="xsd:string"/>
      <xsd:element name="Tag" type="Object" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  BaseItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="BaseItem">
    <xsd:complexContent>
      <xsd:extension base="BaseAttribute">
        <xsd:sequence>
          <xsd:element name="Uom" type="Unit">
            <xsd:annotation>
              <xsd:documentation>
                Gets or sets Unit of measurement.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Bullnose  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Bullnose"/>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Customer  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Customer">
    <xsd:annotation>
      <xsd:documentation>
        Customer class.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="User"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  DatabaseObject  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DatabaseObject"/>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  EllipseItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="EllipseItem">
    <xsd:complexContent>
      <xsd:extension base="ShapeItem">
        <xsd:sequence>
          <xsd:element name="Width" type="xsd:int"/>
          <xsd:element name="Height" type="xsd:int"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Employee  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Employee">
    <xsd:complexContent>
      <xsd:extension base="User"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Inventories  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Inventories">
    <xsd:annotation>
      <xsd:documentation>
        Inventory collection. Normally refer to stock inventory.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="DatabaseObject">
        <xsd:sequence>
          <xsd:element ref="Inventory" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Inventory  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Inventory">
    <xsd:complexContent>
      <xsd:extension base="BaseItem">
        <xsd:sequence>
          <xsd:element name="PurchaseAt" type="xsd:dateTime"/>
          <xsd:element name="Width" type="xsd:int"/>
          <xsd:element name="Height" type="xsd:int"/>
          <xsd:element name="Stock" type="Stock"/>
          <xsd:element name="Warehouse" type="Warehouse"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  InventoryManager  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="InventoryManager"/>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  InventoryWIP  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="InventoryWIP">
    <xsd:annotation>
      <xsd:documentation>
        Inventory work in progress. Contains both assigned piece
        and remaining cut area if no work item assigned.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="BaseItem">
        <xsd:sequence>
          <xsd:element name="WorkedBy" type="Employee"/>
          <xsd:element name="WorkedAt" type="xsd:dateTime"/>
          <xsd:element name="Width" type="xsd:int"/>
          <xsd:element name="Height" type="xsd:int"/>
          <xsd:element name="Source" type="Inventory"/>
          <xsd:element name="WorkItem" type="WorkItem"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Inventories  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="InventoryWIPs">
    <xsd:annotation>
      <xsd:documentation>
        Inventory work in progress collection.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="DatabaseObject">
        <xsd:sequence>
          <xsd:element ref="Inventory" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  L  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="LShapeItem">
    <xsd:complexContent>
      <xsd:extension base="PolygonItem"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  LengthItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="LengthItem">
    <xsd:sequence>
      <xsd:element name="Length" type="xsd:int"/>
      <xsd:element name="Type" type="Bullnose"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Object  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Object"/>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  PolygonItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="PolygonItem">
    <xsd:complexContent>
      <xsd:extension base="ShapeItem">
        <xsd:sequence>
          <xsd:element name="Lengths" type="LengthItem" minOccurs="3" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Project  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Project">
    <xsd:complexContent>
      <xsd:extension base="BaseAttribute">
        <xsd:sequence>
          <xsd:element name="CreatedAt" type="xsd:dateTime"/>
          <xsd:element name="CreatedBy" type="Employee">
            <xsd:annotation>
              <xsd:documentation>
                Gets or sets created person. Normally is the planner.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="OrderBy" type="Customer">
            <xsd:annotation>
              <xsd:documentation>
                Person who order this project might be a direct customer or an agent.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DeliverTo" type="Customer">
            <xsd:annotation>
              <xsd:documentation>
                Address where to deliver.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DueDate" type="xsd:dateTime"/>
          <xsd:sequence>
            <xsd:element name="WorkOrders" type="WorkOrder" minOccurs="1" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  Gets or sets work order collection for this project.
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
          <xsd:element name="Stage" type="ProjectStage">
            <xsd:annotation>
              <xsd:documentation>
                Gets or sets latest project status i.e. Draft, Quotation, or delivered.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Progress" type="xsd:decimal">
            <xsd:annotation>
              <xsd:documentation>
                Overall progress in percentage for this project only.
                It may contains multiple of work order.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Projects  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Projects">
    <xsd:complexContent>
      <xsd:extension base="DatabaseObject">
        <xsd:sequence>
          <xsd:element ref="Project" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  RectItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="RectItem">
    <xsd:complexContent>
      <xsd:extension base="ShapeItem">
        <xsd:sequence>
          <xsd:element name="Width" type="xsd:int"/>
          <xsd:element name="Height" type="xsd:int"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Shape  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Shape"/>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ShapeItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ShapeItem">
    <xsd:complexContent>
      <xsd:extension base="Shape">
        <xsd:sequence>
          <xsd:element name="Child" type="ShapeItem" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Stock  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Stock">
    <xsd:complexContent>
      <xsd:extension base="BaseElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Stocks  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Stocks">
    <xsd:complexContent>
      <xsd:extension base="DatabaseObject">
        <xsd:sequence>
          <xsd:element ref="Stock" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Thickness  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Thickness"/>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  TriangleItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="TriangleItem">
    <xsd:complexContent>
      <xsd:extension base="PolygonItem"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  UShapeItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="UShapeItem">
    <xsd:complexContent>
      <xsd:extension base="PolygonItem"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  User  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="User">
    <xsd:complexContent>
      <xsd:extension base="vCard">
        <xsd:sequence>
          <xsd:element name="Type" type="UserRole"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Users  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Users">
    <xsd:complexContent>
      <xsd:extension base="DatabaseObject">
        <xsd:sequence>
          <xsd:element ref="User" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Warehouse  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Warehouse">
    <xsd:complexContent>
      <xsd:extension base="BaseElement">
        <xsd:sequence>
          <xsd:element name="Addresses" type="vCardDeliveryAddressCollection"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Warehouses  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="Warehouses">
    <xsd:complexContent>
      <xsd:extension base="DatabaseObject">
        <xsd:sequence>
          <xsd:element ref="Warehouse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  WorkItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="WorkItem">
    <xsd:complexContent>
      <xsd:extension base="BaseItem">
        <xsd:sequence>
          <xsd:element name="CreatedAt" type="xsd:dateTime"/>
          <xsd:element name="WorkedBy" type="Employee"/>
          <xsd:element name="ShapeItem" type="ShapeItem"/>
          <xsd:element name="MaxWidth" type="xsd:int"/>
          <xsd:element name="MaxHeight" type="xsd:int"/>
          <xsd:element name="Material" type="Stock"/>
          <xsd:element name="Elements" type="ShapeItem" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="Status" type="WorkStatus"/>
          <xsd:element name="Progress" type="xsd:decimal">
            <xsd:annotation>
              <xsd:documentation>
                Progress in percentage for this work item only.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  WorkOrder  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="WorkOrder">
    <xsd:sequence>
      <xsd:element name="Guid" type="ms:guid"/>
      <xsd:sequence>
        <xsd:element name="Items" type="WorkItem" minOccurs="1" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  vCard  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="vCard"/>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  vCardDeliveryAddressCollection  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="vCardDeliveryAddressCollection"/>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ZShapeItem  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ZShapeItem">
    <xsd:complexContent>
      <xsd:extension base="PolygonItem"/>
    </xsd:complexContent>
  </xsd:complexType>



  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  Element  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:element name="BaseAttribute" type="BaseAttribute"/>
  <xsd:element name="BaseElement" type="BaseElement"/>
  <xsd:element name="BaseItem" type="BaseItem"/>
  <xsd:element name="Bullnose" type="Bullnose"/>
  <xsd:element name="Customer" type="Customer"/>
  <xsd:element name="DatabaseObject" type="DatabaseObject"/>
  <xsd:element name="EllipseItem" type="EllipseItem"/>
  <xsd:element name="Employee" type="Employee"/>
  <xsd:element name="Inventories" type="Inventories"/>
  <xsd:element name="Inventory" type="Inventory"/>
  <xsd:element name="InventoryWIP" type="InventoryWIP"/>
  <xsd:element name="InventoryWIPs" type="InventoryWIPs"/>
  <xsd:element name="InventoryManager" type="InventoryManager"/>
  <xsd:element name="LShapeItem" type="LShapeItem"/>
  <xsd:element name="LengthItem" type="LengthItem"/>
  <xsd:element name="Object" type="Object"/>
  <xsd:element name="PolygonItem" type="PolygonItem"/>
  <xsd:element name="Project" type="Project"/>
  <xsd:element name="Projects" type="Projects"/>
  <xsd:element name="RectItem" type="RectItem"/>
  <xsd:element name="Shape" type="Shape"/>
  <xsd:element name="ShapeItem" type="ShapeItem"/>
  <xsd:element name="Stock" type="Stock"/>
  <xsd:element name="Stocks" type="Stocks"/>
  <xsd:element name="Thickness" type="Thickness"/>
  <xsd:element name="TriangleItem" type="TriangleItem"/>
  <xsd:element name="UShapeItem" type="UShapeItem"/>
  <xsd:element name="User" type="User"/>
  <xsd:element name="Users" type="Users"/>
  <xsd:element name="vCard" type="vCard"/>
  <xsd:element name="vCardDeliveryAddressCollection" type="vCardDeliveryAddressCollection"/>
  <xsd:element name="Warehouse" type="Warehouse"/>
  <xsd:element name="Warehouses" type="Warehouses"/>
  <xsd:element name="WorkItem" type="WorkItem"/>
  <xsd:element name="WorkOrder" type="WorkOrder"/>
  <xsd:element name="ZShapeItem" type="ZShapeItem"/>
</xsd:schema>